.body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    border: 2px solid whitesmoke;
    background: #222f3e;
}

.label{
    color: #ffff;
    font-size: 2rem;
}

.label1{
    color: #ffff;
    font-size: 2rem;
    margin-bottom: 5%;
}

.heart{
    position: relative;
    width: 70px;
    height: 70px;
    background: #ff4757;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 80px #ff4757;
    animation: animate .6s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(-45deg) scale(1.07);
    }
    80%{
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(0.8);
    }
 }

.heart::before{
    content: '';
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #ff4757;
    border-radius: 50%;
    box-shadow: -10px -10px 80px #ff4757;
}

.heart::after{
    content: '';
    position: absolute;
    right: -50%;
    width: 70px;
    height: 70px;
    background: #ff4757;
    border-radius: 50%;
    box-shadow: 10px 10px 80px #ff4757;
}